<h1>Asset CSV Uploaded</h1>

<% @asset.sales.each do |sale| %>
<h2>Sale #<%= sale.id %></h2>

<ul>
  <li>
    Sold at: <strong><%= sale.sold_at %></strong>
  </li>
  <li>
    Code: <strong><%= sale.code %></strong>
  </li>
  <li>
    Value: <strong><%= sale.earned %></strong>
  </li>
</ul>
<% end %>
